<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device=width, initial-scale=1.0">
        <title>Homilies</title>
    </head>
    <body>
        <h1>Import a Homily</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Submit</button>
        </form>

        <h2>Recent Homilies/h2>
        <ul>
            {% for homily in homilies %}
            <li>
                <strong>{{homily.title}}</strong> - {{homily.date}}
                {% if homily.file %}
                - <a href="{{homily.file.url}}" target="_blank">View File</a>
                {% endif %}
            </li>
            {% empty %}
            <li>No homilies imported yet.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'home' %}">Home</a>
    </body>
</html>